.dropdown > div > a:hover{
    background-color:#888888;
}

.dropdown > button > div:hover {
    background-color: #888888;
}

.dropdown > button > img {
    max-height: 25px;
}

a {
    color: aliceblue;
}

body > div > div > div > a > h1 > i {
    font-size: 40px;
}

div > a:hover {
    color: white;
    background-color: #888888;
    text-decoration: none;
}

.container {
    color: aliceblue;
}

div.dropdown {
    color: aliceblue;
}

.nav-item {
    border-left-style: solid;
}

.nav{
    background-color: #777777;
}
.nav-item:hover {
    background-color: #888888;
}

form {
    color: aliceblue;
}

i {
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    color: #888888;
}
#questionName {
    color: blanchedalmond;
    font-size: 20px;
}

html > body > div > div > div > div > a > div {
    padding: 0px 30px 0px 50px;
    border: 2px white;
    border-top-style: dotted;
}

#annswerName {
    font-size: 16px;
    color: aliceblue;
}

.questionForm {
    background-color: #343a40;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border: 3px solid #005580;
    padding: 42px;
    border-radius: 10px;
}

#container {
    background-color: #343a40;
    color: aliceblue;
    width: auto;
    padding: 30px;
}

.title {
    text-align: center;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.button {
    background-color: #005580;
    color: aliceblue;
    width: auto;
    height: 50px;
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
    float: left;
}

.editButton {
    background-color: #005580;
    color: aliceblue;
    width: 90px;
    height: 50px;
    font-size: 14px;
    text-align: center;
    border: 1px solid aliceblue;
    border-radius: 10px;
    cursor: pointer;
    padding-top: 12px;
    margin: 10px;
    float: left;
}

.editButton>a {
    padding: 5px 10px 20px 10px;
}
.editButton>a:hover{
    background-color: transparent;
}

a:link {
    text-decoration: none;

}

#category {
    border-top: 3px solid #005580;
    padding-top: 15px;
}
#categoryName {
    color: blanchedalmond;
}
.button:hover{
    background-color: #004470;
    color: #e9e7ee;
}

.errorMessage {
    color: red;
    padding: 10px;
}

.vertSeparator {
    color: #005580;

}

.link-button {
    background-color: #005580;
    color: aliceblue;
    width: 350px;
    height: 100px;
    font-size: 18px;
    text-align: center;
    border: 1px solid aliceblue;
    border-radius: 10px;
    cursor: pointer;
    float: left;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-button>a {
    padding: 15px 40px 15px 40px;
}
.link-button>a:hover{
    background-color: transparent;
}

.link-button:hover{
    background-color: #003350;
    color: white;
    border: 3px solid white;
}

.logtext{
    color: #0088cc;
    size: 8px;
}

.logtext > a {
    color: forestgreen;
}
.questRadio {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

html > body > div > div > div > div > a > div {
    padding: 0px 30px 0px 50px;
    border: 2px white;
    border-top-style: dotted;
}
