.dropdown > div > a:hover{
    background-color:#888888;
}

.dropdown > button > div:hover {
    background-color: #888888;
}

.dropdown > button > img {
    max-height: 25px;
}

a {
    color: aliceblue;
}

body > div > div > div > a > h1 > i {
    font-size: 40px;
}

div > a:hover {
    color: white;
    background-color: #888888;
    text-decoration: none;
}

.container {
    color: aliceblue;
    min-height: 5000px;
}

div.dropdown {
    color: aliceblue;
}

.nav-item {
    border-left-style: solid;
}

.nav{
    background-color: #777777;
}
.nav-item:hover {
    background-color: #888888;
}

form {
    color: aliceblue;
}

i {
    font-size: 20px;
}

button:hover {
    cursor: pointer;
    color: #888888;
}

html > body > div > div > div > div > a > div {
    padding: 0px 30px 0px 50px;
    border: 2px white;
    border-top-style: dotted;
}
